apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: opcuadata
    isDefault: true
    editable: true
    jsonData:
      httpMode: GET
      timeInterval: 1s
